.gameWrapper {
  background-color: #6f34f8;
  width: 100%;
}

.game-sidenav {
  width: 60vw;
}

.game-content {
  background-color: red;
  display: flex;
  flex-direction: column;

  .game-display {
    flex: 5 1 auto;
    background-color: darkkhaki;
    padding: 20px;
    display: flex;

    .boardgame {
      border: 1px solid grey;
      background-color: rgb(119, 107, 189);
      flex: 1 1 auto;
    }

  }

  .game-controls {
    flex: 0 0 auto;
    background-color: teal;
    border-top: 2px solid royalblue;
    display: flex;
    flex-direction: row;

    .game-controls-left {
      flex: 0 0 auto;
      background-color: rgb(190, 187, 11);

      .btn-open-sideNav {
        float: left;
        margin: 15px;
        margin-top: -20px;

        .mat-24 {
          transform: rotate(-90deg);
        }
      }
    }

    .game-controls-center {
      flex: 1 1 auto;
      border: 1px solid grey;
    }


    .game-controls-rigth {
      flex: 0 0 auto;
      background-color: rgb(190, 187, 11);

      .btn-send-turn {
        float: right;
        margin: 10px;
        margin-top: -20px;
      }

    }




  }

  .game-hand {
    flex: 1 1 auto;
    background-color: teal;
  }

}
