<div *ngIf='currentGame'>
  <p>
    {{userlogined.displayName}}
  </p>
  --
  <p>
    {{currentGame.gameType}}
  </p>
  --
  <p>
    {{currentGame.timeStart }}
  </p>
  --
  <p>
    {{currentGame.displayedCard.id}}
  </p>
  --
  <p>
    {{currentGame.displayedCard.valor}} de {{currentGame.displayedCard.palo}}
  </p>
  -----------------------
  <div *ngFor="let card of hand">
    <p>
      {{card.valor}} de {{card.palo}}
    </p>

  </div>
  -----------------------

  <div *ngFor="let col of boardGame | async">  
    -------------------------------------------------------
    <div *ngFor="let casilla of getColumns(col.rows, false)">
      {{casilla.position}} # {{casilla.nomPlayer}} *** {{casilla.active}} -- {{casilla.idPlayer}}
    </div>
    {{col.colId}} *** {{col.id}}
  <div *ngFor="let casilla of  getColumns(col.rows, true)">
    {{casilla.position}} # {{casilla.nomPlayer}} *** {{casilla.active}} -- {{casilla.idPlayer}}
  </div> 
</div>