.gameWrapperFullScren {
  background-color: rgb(107, 189, 138);
  min-width: 100vw;
  min-height: 100vh;
}

.game-content {
  min-width: 100vw;
  min-height: 100vh;

  .game-display {

    min-height: 80vh;
    background-color: darkkhaki;

    .boardgamepanzoom {
      position: relative;
      top: 2vh;
      left: 2vw;
      min-height: 76vh;
      max-height: 76vh;
      min-width: 96vw;
      max-width: 96vw;
      overflow: hidden;
      border: 1px solid red;
      background-color: rgb(189, 107, 125);
      user-select: none;
    }

  }

  .game-controls {
    min-height: 5vh;
    max-height: 5vh;
    background-color: teal;
    border-top: 2px solid royalblue;
    display: flex;
    flex-direction: row;

    .game-controls-left {
      flex: 0 0 auto;
      background-color: rgb(190, 187, 11);

      .btn-open-sideNav {
        margin-top: -25px;
        margin-left: 10px;
        background-color: transparent !important;

        .contenedor-logo-back {
          height: 60px;
          width: 60px;
          margin-top: -17px;

          .logo-lado-izq {
            fill: #0273d4;
          }

          .logo-lado-der {
            fill: #0143a3;
          }
        }

        .contenedor-logo-front {
          height: 60px;
          width: 60px;
          margin-top: -60px;

          .logo-fondo-letra {
            fill: #fff;
          }
        }

        .alq-in {
          animation: alq-fadeinApp 1s ease;
        }

        .alq-hover:hover {
          animation: alq-icon-on-over 1s ease;
        }
      }
    }

    .game-controls-center {
      flex: 1 1 auto;
      text-align: center;
      border: 1px solid grey;
    }

    .game-controls-rigth {
      flex: 0 0 auto;
      background-color: rgb(190, 187, 11);

      .btn-send-turn {
        margin: 10px;
        margin-top: -20px;
      }

    }




  }

  .game-hand {
    position: relative;
    left: 2vw;
    min-height: 15vh;
    max-height: 15vh;
    min-width: 96vw;
    max-width: 96vw;
    overflow: hidden;
    border: 1px solid red;
    overflow: hidden;
    background-color: teal;
    display: flex;
    flex-direction: row;
    justify-content: center;

    .handDropList{
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
  }



}

.boardgame {
  display: table-row;
}

.boardColumn {
  display: table-cell;
}

.cell {
  border: 1px solid black;
  min-width: 100px;
  max-width: 100px;
  min-height: 100px;
  max-height: 100px;
  height: 100px;
  overflow: hidden;
}

.cell-Drop{
  min-width: 100px;
  max-width: 100px;
  min-height: 100px;
  max-height: 100px;
  height: 100px;
  overflow: hidden;
}

.cell-allied {
  background-color: rgb(20, 231, 30);
}

.cell-enemy {
  background-color: rgb(255, 146, 127);
}

.cell-neutral {
  background-color: white;
}

.handCell {
  border: 1px solid black;
  border-radius: 5px;
  flex: 1 1 auto;
  overflow: hidden;
}

.handCell-placeholder {
  width: 100%;
  height: 100%;
  background: #ccc;
  border: dotted 3px #999;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.handCellSquareVH {
  height: 14vh;
  width: 14vh;
  background-color: rgb(143, 56, 146);
}

.handCellSquareVW {
  height: 18vw;
  width: 18vw;
  background-color: rgb(209, 198, 38);
}


// .handCell-Default {
// }

.gridList2x2 {
  user-select: none;
  background-color: white;
  .gridTile11{
    transform-origin: 50% 50%;
    transform: scale(0.9);
  }
  .gridTile12{
    transform-origin: 50% 50%;
    transform: scale(0.9);
  }
  .gridTile21{
    transform-origin: 50% 50%;
    transform: rotate(180deg) scale(0.9);
  }
  .gridTile22{
    transform-origin: 50% 50%;
    transform: rotate(180deg) scale(0.9);
  }
}

.gridTileDisabled{
  opacity: 0.7;
  background-color: gray;
}





.cdk-drag-preview {
  box-sizing: border-box;
  border: 2px dotted black;
  opacity: 0.4;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drop-list-dragging .handCell:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cell-Drop > .cdk-drag-placeholder {
  background-color: red;
}


.goal-Default {
  border: 1px solid black;
  background-color: rgb(184, 174, 174);
}


@keyframes alq-icon-on-over {
  from {
    opacity: 0;
    transform: rotateY(180deg);
  }

  to {
    opacity: 1;
    transform: rotateY(360deg);
  }
}

@keyframes alq-fadeinApp {
  from {
    opacity: 0;
    transform: rotateY(180deg);
  }

  to {
    opacity: 1;
    transform: rotateY(360deg);
  }
}

