.sidenav {
  width: 200px;
  .activated {
      background-color: #00a8ff;
  }
  .spacer {
    flex: 1 1 auto;
    text-align: center;
  }
}

.app-container {
  height: 100vh;
  min-height: 100vh;
  display: flex;
  flex-direction:column ;
  align-items: stretch;

  header{
      flex: 0 0 auto;
      z-index: 10;
  }

  footer {
      background-color: #ccc;
      flex:  0 0 auto;
  }
}


::ng-deep .swal-margin-rigth{
    margin-right: 30px !important;
}

// easy way for change de color. not the good way
::ng-deep .mat-simple-snackbar-action button {
    background-color: #c00003;
    color: white;
    }

