<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button class="contenedor-logo" type="button" aria-label="Toggle sidenav" mat-icon-button (click)="toggleAppSidenav()">
      <div class="contenedor-logo">
        <img src="../assets/logo/fondoLogo.svg" />
      </div>
      <div class="contenedor-logo alq-in alq-hover">
        <img src="../assets/logo/letraLogo.svg" />
      </div>
    </button>


    <!-- <button mat-icon-button [matMenuTriggerFor]="rootMenu" matTooltip="{{ 'App.Select_lang'| translate }}">
      <mat-icon>translate</mat-icon>
    </button>
    <mat-menu #rootMenu="matMenu">
      <h6 matSubheader> {{ 'App.Select_lang'| translate }} </h6>
      <button mat-menu-item (click)="changeLanguage('en')">{{ 'App.Languages.English' | translate }}</button>
      <button mat-menu-item (click)="changeLanguage('es')">{{ 'App.Languages.Spanish' | translate }}</button>
      <button mat-menu-item (click)="changeLanguage('ca')">{{ 'App.Languages.Catalan' | translate }}</button>
      <button mat-menu-item (click)="changeLanguage('fr')">{{ 'App.Languages.French' | translate }}</button>
    </mat-menu> -->

    <!-- <button mat-menu-item (click)="logout()">
        <mat-icon matListIcon>exit_to_app</mat-icon>
        {{ "App.Exit"| translate }}
      </button> -->

    <span fxHide.lt-sm class="example-spacer center-title"> {{ "App.Title"| translate }} </span>

    <div *ngIf="user | async; let user; else loguearse;">
      <h2 class="toolbar-inline">{{user.displayName}}</h2>
      <img class="toolbar-inline toolbar-user-img" [src]=user.photoURL>
      <button mat-button (click)="logout()">
        <mat-icon>cancel</mat-icon>
      </button>
    </div>
    <ng-template #loguearse>
      <button mat-mini-fab color="primary" (click)="openDialogLogin()">
       <!-- matTooltip="login" matTooltipPosition ="left" matTooltipHideDelay="2000" 
      matTooltipClass="tooltipcss"  -->
        <h3 class="textlogin">login</h3>
        <mat-icon class="iconlogin">account_circle</mat-icon>
      </button>
    </ng-template>

  </mat-toolbar-row>
</mat-toolbar>