.example-icon {
    padding: 0 14px;
  }
  
  .example-spacer {
    flex: 1 1 auto;
    text-align: center;
  }
  
  .contenedor-logo{
    position: absolute;
    top: 10px;
    left: 5px;
    height: 60px;
    width: 60px;
    z-index: 100;
  }
  
.center-title{
  padding-left: 100px;
}
.activated {
  background-color: #00a8ff;
}

.textlogin {
  padding-right: 5px;
}
.iconlogin{
  font-size: 32px;
  margin-top: -8px;
  margin-left: -8px;
}

  .alq-in {
  animation: alq-fadeinApp 1s ease;
  }
  
  .alq-hover:hover {
  animation: alq-icon-on-over 1s ease;
  }
  
  .toolbar-inline{
  display: inline-block;
  }

  .toolbar-user-img{
  width: 38px;
  height: 38px;
  border-radius: 50%;
  margin-top: -6px;
  }
    
  @keyframes alq-icon-on-over {
  from {
      opacity: 0;
      transform: rotateY(180deg);
  }
  to {
      opacity: 1;
      transform: rotateY(360deg);
  }
  }
  
  @keyframes alq-fadeinApp {
  from {
      opacity: 0;
      transform: rotateY(180deg);
  }
  to {
      opacity: 1;
      transform: rotateY(360deg);
  }
  }