<mat-toolbar color="primary">
  <mat-toolbar-row>
    <div class="contenedor-logo" aria-label="Toggle sidenav" (click)="toggleAppSidenav()">
      <div class="contenedor-logo" [ngClass]="{'contenedor-logo-mini': inSmallScreen}">
        <img class="shadow10" src="../assets/logo/fondoLogo.svg" />
      </div>
      <div class="contenedor-logo alq-in alq-hover"  [ngClass]="{'contenedor-logo-mini': inSmallScreen}" >
        <img src="../assets/logo/letraLogo.svg" />
      </div>
    </div>
    <div class="spacer">
      <span [hidden]="inSmallScreen" class="center-title"> {{ translate.instant('App.Title') }} </span>
    </div>

    <div *ngIf="user | async; let user; else loguearse;">
      <button  mat-mini-fab color="primary" [matMenuTriggerFor]="userMenu">
        <img class="toolbar-inline toolbar-user-img" [src]=user.photoURL>
      </button>
      <mat-menu #userMenu="matMenu" [overlapTrigger]="false">
        <h6 matSubheader> {{ user.displayName }} </h6>
        <button mat-menu-item>
          <mat-icon>notifications_off</mat-icon>
          <span>{{ translate.instant('App.MenuUser.AlertDisable')}} </span>
        </button>
        <button mat-menu-item [swal]="{
            text: translate.instant('App.Msg.messageLogout'), 
            imageUrl: '../assets/logo/Alq.png',
            imageHeight: 50,
            imageWidth: 50,
            showCancelButton: true,   
            confirmButtonText: translate.instant('App.Msg.CloseSession'),   
            cancelButtonText: translate.instant('App.Msg.Cancel')}"
            (confirm)="logout()">
          <mat-icon>exit_to_app</mat-icon>
          <span> {{ translate.instant('App.Msg.CloseSession')}} </span>
        </button>
      </mat-menu>

    </div>
    <ng-template #loguearse>
      <h3 class="textlogin" [hidden]="inSmallScreen" (click)="openDialogLogin()">{{ translate.instant('App.MenuUser.Login')}}</h3>
      <button mat-mini-fab color="primary" (click)="openDialogLogin()">
        <mat-icon class="iconlogin">how_to_reg</mat-icon>
      </button>
    </ng-template>

  </mat-toolbar-row>
</mat-toolbar>