<section class="page-container">
  <div class="hero-section">
    <div class="hero-section-text">
      <h1>Header</h1>
      <h5>subtitle about anything you like</h5>
    </div>
  </div>

  <div class="grid-container">
    <mat-grid-list [cols]="matGridSetup.cols" [rowHeight]="matGridSetup.rowHeight" [gutterSize]="matGridSetup.gutterSize">
      <mat-grid-tile [colspan]="matGridSetup.GamesInProgress.cols" [rowspan]="matGridSetup.GamesInProgress.rows">
        <mat-card class="dashboard-card">
          <mat-card-header>
            <mat-card-title>
              {{ translate.instant('pagHome.GamesInProgress') }}
              <!-- <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu" xPosition="before">
                <button mat-menu-item (click)="createRecruitment('xxxxx')">xCreate xxxxxx</button>
              </mat-menu> -->
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="dashboard-card-content content-card-scroll-vert">
            <div *ngIf="(gamesInProgress | async)==null">
              No records found.
            </div>
            <mat-accordion class="example-headers-align">
              <mat-expansion-panel *ngFor="let gameInProgress of (gamesInProgress | async)">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    {{gameInProgress.id}}
                  </mat-panel-title>
                  <mat-panel-description>
                    {{gameInProgress.timeLastTurn.toDate() | date : 'medium' }}
                    <a *ngIf="gameInProgress.isMyTurn" [routerLink]="['/chinker', gameInProgress.id]"><button mat-button
                        color="primary"> Go </button></a>
                  </mat-panel-description>
                </mat-expansion-panel-header>
                es mi turno: {{gameInProgress.isMyTurn}}
                <mat-action-row>
                  <button mat-button color="warn" (click)="surrender(gameInProgress)">Surrender</button>
                  <button mat-button color="primary" [routerLink]="['/chinker', gameInProgress.id]">Open</button>
                </mat-action-row>
              </mat-expansion-panel>
            </mat-accordion>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>


      <mat-grid-tile [colspan]="matGridSetup.JoinOrCreateGame.cols" [rowspan]="matGridSetup.JoinOrCreateGame.rows">
        <mat-card class="dashboard-card">
          <mat-card-content class="dashboard-card-content">
            <mat-tab-group mat-stretch-tabs>
              <mat-tab [label]="translate.instant('pagHome.JoinGame')">
                <div class="content-tab-scroll-vert">
                  <mat-accordion class="example-headers-align">
                    <mat-expansion-panel *ngFor="let recruitment of recruitments | async">
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                          {{recruitment.gameId}}
                        </mat-panel-title>
                        <mat-panel-description>
                          {{recruitment.dateCreation.toDate() | date : 'medium' }}
                        </mat-panel-description>
                      </mat-expansion-panel-header>
                      <span>
                        <mat-icon>account_circle</mat-icon> {{recruitment.creator.displayName}}
                      </span>
                      Id: {{recruitment.id}}
                      state: {{recruitment.state}}
                      <mat-action-row>
                        <button mat-button *ngIf="canDelete(recruitment)" color="warn" (click)="deleteRecruitment(recruitment)">Delete</button>
                        <button mat-button [disabled]="!canJoin(recruitment)" color="primary" (click)="joinRecruitment(recruitment)">Join</button>
                      </mat-action-row>
                    </mat-expansion-panel>
                  </mat-accordion>
                </div>
              </mat-tab>
              <mat-tab [label]="translate.instant('pagHome.CreateGame')">
                <div class="content-tab-scroll-vert container-games-avatar">
                  <mat-card *ngFor="let recruitment of recruitments | async" class="game-avatar">
                    <!-- <mat-card-title> Chinker </mat-card-title> -->
                    <img src="../../../assets/chinker/chinker_48.png">
                    <mat-card-content>
                      <mat-card-title> Chinker </mat-card-title>
                      <!-- <p><mat-icon *ngFor="let i of [0,1,2,3,4]">star_rate</mat-icon></p>                    
                      <p><mat-icon *ngFor="let i of [0,1]">person_outline</mat-icon></p> -->
                    </mat-card-content>
                    <mat-card-actions align='end'>
                        <button mat-icon-button (click)="showInfo('Chinker')">
                            <mat-icon >info</mat-icon>
                          </button>
                      <button mat-icon-button color="primary" (click)="createRecruitment('Chinker')">
                          <mat-icon>add_circle</mat-icon>
                        </button>
                    </mat-card-actions>
                  </mat-card>
                </div>
              </mat-tab>
            </mat-tab-group>
          </mat-card-content>
        </mat-card>



        <!-- <mat-card class="dashboard-card">
          <mat-card-header>
            <mat-card-title>
              Join a game
              <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
                <mat-icon>add_circle</mat-icon>
              </button>
              <mat-menu #menu="matMenu" xPosition="before">
                <button mat-menu-item (click)="createRecruitment('Chinker')">xCreate new Chinker</button>
                <button mat-menu-item (click)="createRecruitment('Chinker')">xCreate new Chinker</button>
                <button mat-menu-item (click)="createRecruitment('Chinker')">xCreate new Chinker</button>
              </mat-menu>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="dashboard-card-content">
            <mat-accordion class="example-headers-align">
              <mat-expansion-panel *ngFor="let recruitment of recruitments | async">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    {{recruitment.gameId}}
                  </mat-panel-title>
                  <mat-panel-description>
                    {{recruitment.dateCreation.toDate() | date : 'medium' }}
                  </mat-panel-description>
                </mat-expansion-panel-header>
                <span>
                  <mat-icon>account_circle</mat-icon> {{recruitment.creator.displayName}}
                </span>
                Id: {{recruitment.id}}
                state: {{recruitment.state}}
                <mat-action-row>
                  <button mat-button *ngIf="canDelete(recruitment)" color="warn" (click)="deleteRecruitment(recruitment)">Delete</button>
                  <button mat-button [disabled]="!canJoin(recruitment)" color="primary" (click)="joinRecruitment(recruitment)">Join</button>
                </mat-action-row>
              </mat-expansion-panel>
            </mat-accordion>
          </mat-card-content>
        </mat-card> -->
      </mat-grid-tile>



      <mat-grid-tile *ngFor="let card of cards" [colspan]="card.cols" [rowspan]="card.rows">
        <mat-card class="dashboard-card">
          <mat-card-header>
            <mat-card-title>
              {{card.title}}
              <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu" xPosition="before">
                <button mat-menu-item>Expand</button>
                <button mat-menu-item>Remove</button>
              </mat-menu>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="dashboard-card-content">
            <div>Card Content Here</div>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</section>