<mat-sidenav-container class="gameWrapperFullScren">
  <mat-sidenav #gamesidenav class="chinker-sidenav" fixedInViewport="true" attr.role="navigation" mode="over">
    <mat-toolbar color="primary" class="mat-elevation-z10">
      Menu      
    </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/home" [class.activated]="currentUrl == '/' || currentUrl == '/home'">
        <mat-icon matListIcon>home</mat-icon>
        {{ translate.instant('Home.Title') }}
      </a>
      <a mat-list-item routerLink="/about" [class.activated]="currentUrl == '/about'" >
        <mat-icon matListIcon>persons</mat-icon>
        {{ translate.instant('About.Title') }}
      </a>
    </mat-nav-list>
    <mat-toolbar color="primary" class="mat-elevation-z10">Game</mat-toolbar>
    <div *ngIf='currentGame'>
      <p>
        {{userlogined.displayName}}
      </p>
      <p>
        gameType: {{currentGame.gameType}}
      </p>
      <p>
        name: {{currentGame.name}}
      </p>
      <p>
        description: {{currentGame.description}}
      </p>
      --
      <p>
        timeStart: {{currentGame.timeStart.toDate() | date : 'medium' }}
      </p> --
      <p>
        turnCont: {{currentGame.turnCont }}
      </p>
    </div>
  </mat-sidenav>
  <mat-sidenav-content class="game-content">

    <div class="game-display">
      <div appFramepanzoom class="boardgamepanzoom">
        <div class="boardgame" cdkDropListGroup>
          <div *ngFor="let col of boardGame" class="boardColumn">
            <div *ngFor="let c of col.rows" [ngClass]="['cell']">
              <div *ngIf="(c.id === -1) ">
                {{col.id}}/{{c.position}} # {{c.displayNamePlayer | slice:0:4}}
              </div>
              <div *ngIf="c.id === 0 && c.dragEnable && c.idPlayer === this.userlogined.uid" [ngClass]="['cell-Drop']" cdkDropList id=boardDropList{{col.id}}
                (cdkDropListDropped)="onBoardDrop($event,c)">
              </div>
              <mat-grid-list *ngIf="c.id > 0" cols="2" rowHeight="1:1" gutterSize="0px" class="gridList2x2">
                <mat-grid-tile><img class="gridTile11" src="../assets/chinker/n_{{c.description}}.svg" /></mat-grid-tile>
                <mat-grid-tile><img class="gridTile12" src="../assets/chinker/{{c.palo | slice:0:3 | lowercase}}.svg" /></mat-grid-tile>
                <mat-grid-tile><img class="gridTile21" src="../assets/chinker/{{c.palo | slice:0:3 | lowercase}}.svg" /></mat-grid-tile>
                <mat-grid-tile><img class="gridTile22" src="../assets/chinker/n_{{c.description}}.svg" /></mat-grid-tile>
              </mat-grid-list>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="game-controls">
      <div class="game-controls-left">
        <div class="btn-open-sideNav" (click)="gamesidenav.open()">     
          <div class="contenedor-logo-back">
            <img class="shadow10" src="../../../assets/logo/fondoLogo.svg" />
          </div>
          <div class="contenedor-logo-front alq-in alq-hover">
            <img src="../../../assets/logo/letraLogo.svg" />
          </div> 
        </div>
      </div>
      <div class="game-controls-center">
        <span *ngIf="stateGame == 0">{{userlogined.displayName}} es tu turno. Te están esperando</span>
        <span *ngIf="stateGame == 1">WAITING. Esperando a los otros jugadores</span>
      </div>
      <div class="game-controls-rigth" [@animAppear]='stateButtons'>
        <button mat-raised-button class="btn-send-turn" (click)="resetTurn()">
          <mat-icon class="mat-24" aria-label="reset turno">undo</mat-icon>
        </button>
        <button mat-raised-button class="btn-send-turn" (click)="sendTurn()">
          xEnviar turno
          <mat-icon class="mat-24" aria-label="enviar turno">send</mat-icon>
        </button>
      </div>
    </div>
    <div class="game-hand">
      <div cdkDropList class="handDropList" #handDropList="cdkDropList" [cdkDropListData]="hand"
        [cdkDropListConnectedTo]="['boardDropList0','boardDropList1','boardDropList2','boardDropList3','boardDropList4','boardDropList5','boardDropList6','boardDropList7','boardDropList8']"
        cdkDropListOrientation="horizontal" (cdkDropListDropped)="onHandDrop($event)">
        <div *ngFor="let card of hand" (window:resize)="onResize($event)" cdkDrag [cdkDragDisabled]="!card.dragEnable"
          [ngClass]="['handCell', card.classCss ]" [ngStyle]="{'height': handCellForceSquare, 'width': handCellForceSquare}" >
          <div [ngClass]="['handCell-placeholder', card.classCss]" [ngStyle]="{'height': handCellForceSquare, 'width': handCellForceSquare}" *cdkDragPlaceholder></div>
          <mat-grid-list *ngIf="!card.previousValues" cols="2" rowHeight="1:1" gutterSize="0px" class="gridList2x2">
            <mat-grid-tile><img class="gridTile11" src="../assets/chinker/n_{{card.description}}.svg" /></mat-grid-tile>
            <mat-grid-tile><img class="gridTile12" src="../assets/chinker/{{card.palo | slice:0:3 | lowercase}}.svg" /></mat-grid-tile>
            <mat-grid-tile><img class="gridTile21" src="../assets/chinker/{{card.palo | slice:0:3 | lowercase}}.svg" /></mat-grid-tile>
            <mat-grid-tile><img class="gridTile22" src="../assets/chinker/n_{{card.description}}.svg" /></mat-grid-tile>
          </mat-grid-list>
          <mat-grid-list *ngIf="card.previousValues" cols="2" rowHeight="1:1" gutterSize="0px" class="gridList2x2 gridTileDisabled">
            <mat-grid-tile><img class="gridTile11 gridTileDisabled" src="../assets/chinker/n_{{card.previousValues.description}}.svg" /></mat-grid-tile>
            <mat-grid-tile><img class="gridTile12 gridTileDisabled" src="../assets/chinker/{{card.previousValues.palo | slice:0:3 | lowercase}}.svg" /></mat-grid-tile>
            <mat-grid-tile><img class="gridTile21 gridTileDisabled" src="../assets/chinker/{{card.previousValues.palo | slice:0:3 | lowercase}}.svg" /></mat-grid-tile>
            <mat-grid-tile><img class="gridTile22 gridTileDisabled" src="../assets/chinker/n_{{card.previousValues.description}}.svg" /></mat-grid-tile>
          </mat-grid-list>
        </div>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>