<h2 mat-dialog-title>Create new recruitment</h2>
<mat-dialog-content  class="new-chinker">
   <mat-vertical-stepper linear #stepper>
      <mat-step [stepControl]="firstFormGroup">
         <form [formGroup]="firstFormGroup">
            <ng-template matStepLabel>chosse a name for this game</ng-template>
            <div class="row">
               <div class="col">
                  <mat-form-field class="full-width">
                     <input matInput placeholder="Name game" value="game001" formControlName="name" maxlength="30" required>
                     <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="firstFormGroup.controls['name'].setValue(null)">
                           <mat-icon>close</mat-icon>
                         </button>
                     <mat-error *ngIf="firstFormGroup.controls['name'].hasError('required')">
                        name is <strong>required</strong>
                     </mat-error>
                  </mat-form-field>
               </div>
            </div>

            <div class="row">
               <div class="col">
                  <mat-form-field class="full-width">
                     <textarea matInput placeholder="Optional: enter a description." formControlName="description"></textarea>
                  </mat-form-field>
               </div>
            </div>
            <div>
               <button mat-button matStepperNext>Next</button>
            </div>
         </form>
      </mat-step>
      <mat-step [stepControl]="secondFormGroup">
         <form [formGroup]="secondFormGroup">
            <ng-template matStepLabel>Config game</ng-template>
            <mat-form-field>
               <input matInput placeholder="Address" formControlName="secondCtrl" required>
               <mat-error *ngIf="secondFormGroup.controls['secondCtrl'].hasError('required')">
                  First name is <strong>required</strong>
               </mat-error>
            </mat-form-field>


            
            <div>
               <button mat-button matStepperPrevious>Back</button>
               <button mat-button matStepperNext>Next</button>
            </div>
         </form>
      </mat-step>
      <mat-step>
         <ng-template matStepLabel>Done</ng-template>
         You are now done.
         <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button (click)="stepper.reset()">Reset</button>
         </div>
      </mat-step>
   </mat-vertical-stepper>



</mat-dialog-content>
<!-- <mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Install</button>
</mat-dialog-actions> -->