<h2 mat-dialog-title>Create new recruitment</h2>
<mat-dialog-content class="new-chinker">
   <mat-vertical-stepper linear #stepper>
      <mat-step>
         <form [formGroup]="firstFormGroup">
            <ng-template matStepLabel>chosse a name for this game</ng-template>
            <div class="row">
               <div class="col">
                  <mat-form-field hintLabel="Max 15 characters" class="full-width">
                     <input matInput placeholder="Name game" formControlName="name" maxlength="15"
                        required>
                     <mat-hint align="end">{{firstFormGroup.get('name').value?.length || 0}}/15</mat-hint>
                     <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="firstFormGroup.controls['name'].setValue(null)">
                        <mat-icon>close</mat-icon>
                     </button>
                     <mat-error *ngIf="firstFormGroup.controls['name'].hasError('required')">
                        name is <strong>required</strong>
                     </mat-error>
                  </mat-form-field>
               </div>
            </div>

            <div class="row">
               <div class="col">
                  <mat-form-field class="full-width">
                     <textarea class="formTextArea" matInput placeholder="Optional: enter a description."
                        formControlName="description"></textarea>
                  </mat-form-field>
               </div>
            </div>
            <div class="buttonBar">
               <button mat-button matStepperNext>Next</button>
            </div>
         </form>
      </mat-step>
      <mat-step>
         <form [formGroup]="secondFormGroup">
            <ng-template matStepLabel>Config game</ng-template>
            <div class="row">
               <div class="col">
                  <mat-form-field class="alignRight">
                     <input matInput type="number" disabled placeholder="number of players" formControlName="numPlayers"
                        required min="2" max="2">
                     <mat-error *ngIf="!secondFormGroup.controls['numPlayers'].valid">
                        Chinker alone and multiplayer are in development
                     </mat-error>
                  </mat-form-field>
                  <mat-form-field class="alignRight">
                     <input matInput type="number" placeholder="cards in hand" formControlName="numCardsInHand"
                        required min="5" max="7">
                     <mat-error *ngIf="!secondFormGroup.controls['numCardsInHand'].valid">
                        invalid
                     </mat-error>
                  </mat-form-field>
                  <mat-form-field class="alignRight">
                     <input matInput type="number" placeholder="games on table" formControlName="numGamesOnTable"
                        required min="5" max="9">
                     <mat-error *ngIf="!secondFormGroup.controls['numGamesOnTable'].valid">
                        invalid
                     </mat-error>
                  </mat-form-field>
               </div>
            </div>
            <div class="row">
               <div class="col">
                  <mat-slide-toggle formControlName="isBetsAllowed" color="primary">Bets are alowed</mat-slide-toggle>
               </div>
            </div>
            <div class="buttonBar">
               <button mat-button matStepperPrevious>Back</button>
               <button mat-button matStepperNext>Next</button>
            </div>
         </form>
      </mat-step>
      <mat-step>
         <ng-template matStepLabel>Done</ng-template>
         <div class="row">
            <div class="col">
               <label class="alignRight">name: </label>
            </div>
            <div class="col">
               <label>{{firstFormGroup.get('name').value}}</label>
            </div>
         </div>
         <div class="row">
            <div class="col">
               <label class="alignRight">Number of players: </label>
            </div>
            <div class="col">
               <label>{{secondFormGroup.get('numPlayers').value}}</label>
            </div>
         </div>
         <div class="row">
            <div class="col">
               <label class="alignRight">Number of players: </label>
            </div>
            <div class="col">
               <label>{{secondFormGroup.get('numPlayers').value}}</label>
            </div>
         </div>
         <div class="row">
            <div class="col">
               <label class="alignRight">Number of players: </label>
            </div>
            <div class="col">
               <label>{{secondFormGroup.get('numPlayers').value}}</label>
            </div>
         </div>
         <div class="row">
            <div class="col">
               <label class="alignRight">Number of players: </label>
            </div>
            <div class="col">
               <label>{{secondFormGroup.get('numPlayers').value}}</label>
            </div>
         </div>
         <div class="row">
            <div class="col">
               <label class="alignRight">Number of players: </label>
            </div>
            <div class="col">
               <label>{{secondFormGroup.get('numPlayers').value}}</label>
            </div>
         </div>





         <div class="buttonBar row">
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button (click)="stepper.reset()">Reset</button>
            <div class="spacer"></div>
            <button mat-button color="primary" (click)="onSubmit()">Create game</button>
         </div>
      </mat-step>
   </mat-vertical-stepper>
</mat-dialog-content>